@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-header-image, .intro {
  width: 50%; 
}
.intro h1 {
  font-size: 4rem; 
  font-weight: bold; 
  line-height: normal; 
  text-align: left; 
  padding: 25px 25px; 
}

.projects-heading h2 {
  text-align: center; 
  font-weight: bold; 
}
.projects-heading h3 {
  border: 2px solid #b48e89; 
}
